html {
    min-height: 30em;
    min-width: 30em;
    font-family: 'NanumSquareNeo';
}

span.hostings {
    /* margin-top: 2px; */
    /* margin-left: 2px; */
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    margin: 0;
}

.prdBtnComponent {
    margin: 3px 0;
}

.sandboxBtnComponent {
    margin: 3px 0;
}

.prdButton {
	color:#fff;
	background-color:rgb(119, 183, 144);
	border-color: rgb(119, 183, 144);
}

.sdbButton {
    color:#fff;
    background-color: rgb(63, 71, 76);
    border-color: rgb(63, 71, 76);
}

.production {
    margin: 10px 0 0 10px;
}

.sandbox {
    margin: 10px 0 0 10px;
}

div.rootComponent {
    overflow: auto;
    background-color: rgb(18, 21, 21);
}

div.headComponent {
    height: 11.5em;
    background-color: rgb(42, 48, 52);
}

div.bodyComponent {
    padding: 10px 0;
    margin: 0;
    height: 20em;
    /* background-color: rgb(18, 21, 21); */
}

div.sectionTitle {
    color:rgb(242, 242, 242);
    font-size: 12px;
    /* padding-left: 16px; */
    /* padding-bottom: 2px; */
}

div.accordion {
    padding-left: 14px;
    padding-right: 14px;
}

a.ctrlLink {
    text-decoration-line: none;
    color: black;
}

svg.bi-dot {
    color: rgb(119, 183, 144);
    font-size: 26px;
}

hr {
    background-color: white;
    height: 1px;
    width: 95%;
    opacity: .25;
    border: 0;
}

div.siteCookie {
    /* background-color: rgb(63,71,75); */
    padding: 0 14px;
}

table {
    border: 1;
    border-color: #fff;
    margin-top: 8px;
}

div.searchShopping {
    margin: 12px;
    height: 100px;
}

div#resultSection {
    background-color: aliceblue;
    display: none;
}